### IMPORTING LIBRARIES

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

### IMPORTING FILES 
* ASSIGNING WORKING DIRECTORY
* IMPORTING TEST AND TRAIN FILE

In [2]:
import os
os.chdir('C:\\Users\\hp\\Desktop\\ALL_DataSets\\blackfridaysales')
tr=pd.read_csv("train.csv")
ts=pd.read_csv("test.csv")
trf=pd.read_csv("train.csv")
tsf=pd.read_csv("test.csv")

### Data Size

In [3]:
tr.shape

(550068, 12)

### Null Values in Data

In [4]:
tr.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

### Checking Duplicates in Data

In [5]:
tr.duplicated().sum()

0

### I replaced Null Values : 
* Product_Category_2 by mean because this column have no outliers.
* Product_Category_3 I droped it because column have 80% Blank values.

In [6]:
tr["Product_Category_2"]=tr["Product_Category_2"].fillna(tr["Product_Category_2"].mean())
tr=tr.drop(["Product_Category_3"],axis=1)

## Drop columns
* User_ID  = this column is index column and there is no use in modeling of data
* Purchase = this for PCA target column should be removed from the data

In [7]:
trf=tr.drop(["User_ID", "Purchase"], axis=1)

### Checking Corelation Between Columns

In [8]:
trf.corr()

,Occupation,Marital_Status,Product_Category_1,Product_Category_2
Occupation,1.000000,0.024280,-0.007618,-0.000317
Marital_Status,0.024280,1.000000,0.019888,0.012507
Product_Category_1,-0.007618,0.019888,1.000000,0.373686
Product_Category_2,-0.000317,0.012507,0.373686,1.000000

### To Check Data Type

In [9]:
trf.dtypes

Product_ID                     object
Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
dtype: object

### Impoting Model

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import AdaBoostRegressor,BaggingRegressor,ExtraTreesRegressor,GradientBoostingRegressor
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score,mean_absolute_error,mean_squared_error

### LablelEncoder is used to change category column  into numeric values

In [11]:
L=LabelEncoder()
for i in trf:
    if trf[i].dtypes == 'object':
        trf[i]=L.fit_transform(trf[i].astype(str))
trf["Product_Category_2"]=trf["Product_Category_2"].astype(int)

## PCA

In [12]:
pca=PCA(n_components=9)
pcaf=pca.fit_transform(trf)
pca.explained_variance_ratio_

array([9.99921622e-01, 4.15420130e-05, 2.17581334e-05, 1.07161984e-05,
       1.80184117e-06, 1.62079980e-06, 5.50843685e-07, 2.10089587e-07,
       1.78343812e-07])

In [13]:
pcaf_D=pd.DataFrame(pcaf,columns=["pca1","pca2","pca3","pca4","pca5","pca6","pca7","pca8","pca9"])

Than splitting data for training the models

In [14]:
x=pcaf_D 
y=tr["Purchase"]
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=.3,random_state=262)

### LinearModel 
* 1st fit to train model
* 2nd predict to test
* 3rd Check Score

In [15]:
LR=LinearRegression()
LR.fit(train_x,train_y)
LR.score(train_x,train_y)

0.1341431374786063

### RidgeModel

In [16]:
R=Ridge()
R.fit(train_x,train_y)
R.score(train_x,train_y)

0.13414313747814055

### LassoModel

In [17]:
L=Lasso()
L.fit(train_x,train_y)
L.score(train_x,train_y)

0.13414261444977937

### RandomForest

In [18]:
RD=RandomForestRegressor(n_estimators=100)
RD.fit(train_x,train_y)
RD.score(train_x,train_y)
pred_for= RD.predict(test_x)
RD.score(test_x,test_y)

0.6827686947050529

### DecisionTree

In [19]:
D=DecisionTreeRegressor()
L.fit(train_x,train_y)
L.score(train_x,train_y)

0.13414261444977937

### KNeighbors

In [20]:
K=KNeighborsRegressor()
K.fit(train_x,train_y)
K.score(train_x,train_y)
K.predict(test_x)
K.score(test_x,test_y)

0.6601092171598755

### AdaBoost

In [21]:
A=AdaBoostRegressor()
A.fit(train_x,train_y)
A.score(train_x,train_y)
A.predict(test_x)
A.score(test_x,test_y)

0.14879681334033956

### Bagging

In [22]:
B=BaggingRegressor()
B.fit(train_x,train_y)
B.score(train_x,train_y)
B.predict(test_x)
B.score(test_x,test_y)

0.6623890002707005

### ExtraTrees

In [23]:
E=ExtraTreesRegressor()
E.fit(train_x,train_y)
E.score(train_x,train_y)
E.predict(test_x)
E.score(test_x,test_y)

M:\python\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.622171050782276

### GradientBoosting

In [24]:
G=GradientBoostingRegressor(max_depth=2)
G.fit(train_x,train_y)
G.score(train_x,train_y)
G.predict(test_x)
G.score(test_x,test_y)

0.45703386028845816

In [25]:
mean_absolute_error(test_y,pred_for)

2077.9986201734987

In [26]:
mse=mean_squared_error(test_y,pred_for)

In [27]:
np.sqrt(mse)

2832.081903453366

## EDA OF TEST

In [28]:
ts.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2             72344
Product_Category_3            162562
dtype: int64

In [29]:
ts.describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
count,2.335990e+05,233599.000000,233599.000000,233599.000000,161255.000000,71037.000000
mean,1.003029e+06,8.085407,0.410070,5.276542,9.849586,12.669454
std,1.726505e+03,6.521146,0.491847,3.736380,5.094943,4.125944
min,1.000001e+06,0.000000,0.000000,1.000000,2.000000,3.000000
25%,1.001527e+06,2.000000,0.000000,1.000000,5.000000,9.000000
50%,1.003070e+06,7.000000,0.000000,5.000000,9.000000,14.000000
75%,1.004477e+06,14.000000,1.000000,8.000000,15.000000,16.000000
max,1.006040e+06,20.000000,1.000000,18.000000,18.000000,18.000000

### I replaced Null Values :
* Product_Category_2 by mean because this column have no outliers.
* Product_Category_3 I droped it because column have 80% Blank values.
* User_ID = this column is index column and there is no use in modeling of data

In [30]:
ts["Product_Category_2"]=ts["Product_Category_2"].fillna(ts["Product_Category_2"].mean())
ts=ts.drop(["Product_Category_3", "User_ID"],axis=1)

In [31]:
L=LabelEncoder()
for i in ts:
    if ts[i].dtypes== 'object':
        ts[i]=L.fit_transform(ts[i].astype(str))
ts["Product_Category_2"]=ts["Product_Category_2"].astype(int)

In [32]:
ts.dtypes

Product_ID                    int32
Gender                        int32
Age                           int32
Occupation                    int64
City_Category                 int32
Stay_In_Current_City_Years    int32
Marital_Status                int64
Product_Category_1            int64
Product_Category_2            int32
dtype: object

### Final Predicting on Test File

In [33]:
pred=RD.predict(ts)

## Finally Creating File For Submittion
* Converting prediction array in DataFrame.
* Combining user-id and prediction.
* Saving Final Submittion in working Directory in CSV Format.

In [34]:
pred_df=pd.DataFrame(pred,columns=["Purchase"])
final2=pd.concat([tsf["User_ID"],tsf["Product_ID"],pred_df],axis=1)
final2.to_csv("Final_Purchase_P3344433.csv",index=False)